<p></p>
<a href="/github-repos/"<h3>Github Repos</h3></a>
  <!--<li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="fas fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>-->
{% for repository in site.github.public_repositories %}
  <li>
	<a href="{{ repository.html_url }}" itemprop="sameAs" rel="nofollow noopener noreferrer" target="_blank">
		<i class="fab fa-github-square"></i> {{ repository.name }}
	</a>
  </li>
{% endfor %}

<!--[{{ repository.name }}]({{ repository.html_url }} itemprop="sameAs" rel="nofollow noopener noreferrer")-->